<% const getDate = new Date()
let year = getDate.getFullYear() 
const author = 'Mark Augustine Gregorio Estimada'%>
<footer>
  <p class="copyright"><%= author %>&copy| <%= year %> |CSE 340 App</p>
  <a href="/inv/error" id="error-link">Error Link</a>
</footer>