<% if (title) { %>
    <div class="error-container">
        <div class="error-content">
          <h1 id="error-message-header"><%= title %></h1>
          <h2 id="error-message"><%- message %></h2>
        </div>
    </div>
<% } else {
    res.redirect('/')
} %>
<h2><%- message %></h2>